/* Description: Master CSS file */

/*****************************************
Table Of Contents:
- General Styles
- Navigation
- Home
- Information
- Button
- Services
- Plans
- Testimonials
- Newsletter
- Back To Top Button
- Extra Pages
- Media Queries
******************************************/


/**************************/
/*     General Styles     */
/**************************/
:root {
	--primary: #1c262f;
	--primary-light: #212d37;
	--secondary: #ffffff;
	--tertiary: #028fcc;
	--gradient: linear-gradient(to right, #03D6F3, #000AFF);
	--gradient-bronze: linear-gradient(to right, #634641, #fff, #634641);
	--gradient-bronze-branco: linear-gradient(to right, #fff,  #634641, #fff, #634641 );
	--quarter: #000AFF;
}

ff0000 h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Poppins", sans-serif;
}

h1 {
	font-size: 60px;
	font-weight: 500;
}

button {
	font-family: sans-serif;
}

p,
ul,
h4 {
	margin: 0;
	padding: 0;
}

a {
	color: white;
	text-decoration: none;
}

li {
	list-style-type: none;
}

/* Section Background */
.home,
.about,
.services,
.work,
.contact {
	min-height: 110vh;
	position: relative;
}

.plans {
	min-height: 70vh;
}

.faqAccordion {
	min-height: 50vh;
}

.services,
.faqAccordion,
.contact,
.footer {
	background-color: var(--primary);
}

.testimonial {
	background-color: black;
}

.about,
.plans,
.company,
.newsletter,
.location {
	background-color: var(--primary-light);
}

.location {
	background-color: black;
}

.bottom {
	background-color: rgb(46, 45, 45);
}

/* Gradient Border And Background On Icons */
.home_text,
.faqAccordion .fas,
.services .fas,
.information .fas,
.location .far {
	padding: 15px 0;
	background: var(--gradient);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.location .far,
.location .fas {
	background: white;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	;
}

.location .a {
	cursor: pointer;
}

.navbar-nav a:hover,
.footer a:hover,
.footer .fab:hover {
	cursor: pointer;
	background: var(--gradient);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.text-right {
	text-align: right;
}


/**********************/
/*     Navigation     */
/**********************/
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* Ajuste conforme necessário */
	padding: 0 20px;
	background-color: var(--primary);
	height: 70px;

	/* Altura fixa para a barra de navegação */
}

.navbar .logo-image img {
	width: 100%;
	height: 100%;
}


.navbar .logo-text {
	color: #fff;
	font-weight: 500;
	line-height: 1rem;
	font-size: 1.575rem;
	text-decoration: none;
}

.offcanvas-collapse {
	position: fixed;
	top: 2.75rem;
	/* adjusts the height between the top of the page and the offcanvas menu */
	bottom: 0;
	left: 100%;
	width: 100%;
	overflow-y: auto;
	visibility: hidden;
	padding-right: 1rem;
	padding-left: 1rem;
	background-color: var(--primary);
	transition: transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.offcanvas-collapse.open {
	visibility: visible;
	transform: translateX(-100%);
}

.navbar .navbar-nav {
	margin-bottom: 0.5rem;
}

.navbar .dropdown-menu {
	border: none;
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
	background-color: var(--primary);
}

.navbar .dropdown-item {
	color: #eee;
	font-weight: 500;
	font-size: 0.875rem;
	line-height: 0.875rem;
	padding-top: 0.625rem;
	text-decoration: none;
	padding-bottom: 0.625rem;
}

.navbar .dropdown-item:hover {
	background-color: var(--primary);
}

.navbar .dropdown-divider {
	width: 100%;
	height: 1px;
	border: none;
	margin: 0.5rem auto 0.5rem auto;
	background-color: var(--primary-light);
}

.navbar .nav-item .nav-link {
	color: #fff;
	text-decoration: none;
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
	transition: all 0.2s ease;
}

.navbar .fa-stack {
	width: 3em;
	font-size: 1rem;
	margin-right: 0.25rem;
}

.navbar .fa-stack-2x {
	background: -webkit-gradient(linear,
			left top,
			left bottom,
			from(#0ee951),
			to(#00dabf));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: all 0.2s ease;
}

.navbar .fa-stack-1x {
	color: #ffffff;
	transition: all 0.2s ease;
}

.navbar .fa-stack:hover .fa-stack-2x {
	color: var(--primary);
}

.navbar .fa-stack:hover .fa-stack-1x {
	color: var(--primary);
}

.navbar .navbar-toggler {
	padding: 0;
	border: none;
	font-size: 1.25rem;
}


/****************/
/*     Home     */
/****************/
.home {
	background-image: url(../assets/images/home.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.about {
	background-image: url(../assets/images/about-logo.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.about img {
	max-width: 100%;
	height: auto;
	margin-top: 20px;
	/* Ajuste o valor conforme necessário */
}

.payment {
	background-image: url(../assets/images/payment-logo.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100vw;
	/* Garante que a largura seja 100% da viewport */
	height: 100vh;
	/* Garante que a altura seja 100% da viewport */
	display: flex;
	/* Define o layout flex */
	justify-content: flex-end;
	/* Alinha itens ao final (parte inferior) */
	align-items: center;
	/* Centraliza itens horizontalmente */
	flex-direction: column;
	/* Alinha itens verticalmente */
}

.payment-box {
	width: 1000px;
	/* Define a largura do quadrado */
	height: 900px;
	/* Define a altura do quadrado */
	background-color: rgba(255, 255, 255, 0.9);
	/* Define a cor de fundo do quadrado */
	border-radius: 10px;
	/* Adiciona bordas arredondadas */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	/* Adiciona sombra ao quadrado */
	text-align: center;
	/* Centraliza o texto dentro do quadrado */
	padding: 20px;
	/* Adiciona padding dentro do quadrado */
	position: relative;
	/* Garante que o logo pode ser posicionado relativamente */
	max-width: 100%;
	max-width: 100%;
}

.payment-logo {
	width: 100px;
	/* Define a largura do logo */
	height: auto;
	/* Mantém a proporção do logo */
	position: absolute;
	/* Posiciona o logo absolutamente */
	top: 20%;
	left: 50%;
	/* Centraliza o logo horizontalmente */
	transform: translateX(-50%);
	/* Ajusta a posição do logo para ficar centralizado */
}

.payment-content {
	margin-top: 300px;
	/* Adiciona espaço acima do conteúdo para o logo */
	font-size: 20px;
}

.para {
	width: 50%;
}

.para-light {
	opacity: 0.7;
}


/***********************/
/*     Information     */
/***********************/
.information .container-fluid .row div:first-child {
	background-color: black;
}

.information .container-fluid .row div:last-child {
	background-color: #fff;
}

.information .container-fluid .row div:nth-child(2) {
	background-color: var(--primary-light);
}


/******************/
/*     Button     */
/******************/
.btn {
	font-family: sora, Sans-serif;
	font-size: 18px;
	font-weight: 700;
	fill: #fff;
	color: #fff;
	background-color: transparent;
	background-image: linear-gradient(to right, #85c7fd, #0026ff);
	border-radius: 100px;
	padding: 15px 50px;
	transition: transform 0.3s ease;
	border: none;
	cursor: pointer;
	margin-top: 30px;
}

.btn:hover {
	transform: scale(1.1);

}

/* Email - Newsletter Button */
.btn-secondary {
	color: black;
	border-width: 2px;
	padding: 10px 30px;
	border-image-slice: 1;
	background-image: none;
	background: transparent;
	border-image-source: var(--gradient);
}

.btn-secondary:hover {
	color: black;
	padding: 10px 30px;
	background-image: var(--gradient);
}

/* Other Pages Button */
.btn-tertiary {
	color: black;
	border-radius: 0;
	border-width: 2px;
	padding: 10px 30px;
	border-image-slice: 1;
	background-image: none;
	background: transparent;
	border-image-source: var(--gradient);
	box-shadow: 5px 5px 0px 0px var(--secondary);
}

.btn-tertiary:hover {
	color: black;
	box-shadow: none;
	border-radius: 0;
	padding: 10px 30px;
	transform: translate(5px, 5px);
}

.btn-main {
	color: white;
	border-radius: 0;
	border-width: 2px;
	padding: 10px 30px;
	border-image-slice: 1;
	background-image: none;
	background: transparent;
	border-image-source: var(--gradient);
	box-shadow: 5px 5px 0px 0px var(--secondary);

}

.btn-main:hover {
	color: white;
	box-shadow: none;
	border-radius: 0;
	padding: 10px 30px;
	transform: translate(5px, 5px);
	opacity: 0.8;
}

.payment-box .btn {
	font-family: sora, Sans-serif;
	fill: #000;
	color: #000;
	font-weight: 580;
	background-image: linear-gradient(to right, #15ff00, #48a12d) !important;
	background-color: transparent;
	border-radius: 4px;
	margin-top: -10px;
	max-width: 100%;
	line-height: 1;
	margin-top: 20px;
}

/* ACCORDEON */
.faqAccordion {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.text-center h2 {
	color: #fff;
	margin-bottom: 1rem;
}

.accordion {
	margin-top: 2rem;
	max-width: 1000px;
	margin: auto;
	background-color: #1c262f;
}

.card {
	background-color: #1c262f;
	border: none;
	margin-bottom: 1px;
	text-align: left;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card-header-carrocel {
	margin: 0;
	padding: 0;
	font-weight: 700;
	line-height: 1;
	cursor: pointer;
	outline: none;
	border: none;
	text-align: left;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 20px;
}

.btn-accordion {
	font-family: sora, Sans-serif;
	font-size: 18px;
	font-weight: 500;
	color: #fff;
	text-decoration: none;
	width: 1000px;
	padding: 15px 20px;
	text-align: left;
	background-color: #1e1e1e;
	border-radius: 10px;
	position: relative;
	border: none;
}

.btn-accordion:hover {
	text-decoration: none;
	color: #fdff9b;
}

.btn-accordion span {
	margin-left: auto;
}

.card-body-corrocel {
	background-color: #1c262f;
	color: #fff;
	border: none;
	margin-top: -10px;
}

.accordion {
	max-width: 1000px;
	margin: auto;
}

.btn-accordion .icon {
	position: absolute;
	right: 20px;
}

/********************/
/*     Services     */
/********************/
.services .card {
	padding: 20px;
	border-radius: 0;
	border: 2px solid white;
}

.services .card:hover {
	border: 10px solid;
	transform: scale(1.01);
	border-image-slice: 1;
	border-width: 2px;
	border-image-source: var(--gradient);
	box-shadow: 5px 5px 0px 0px #0ee951;
}


/*****************/
/*     Plans     */
/*****************/
.plans .card {
	background-color: #3b3b3b;
	padding: 0;
	display: flex;
	flex-direction: column;
	height: 100%;
	border-radius: 8px;
	overflow: hidden;
	width: 100%;
}

.card-header,
.card-footer {
	background-color: #000;
	color: #ffffff;
	text-align: center;
	width: 100%;
	height: 90%;
}

.card-header {
	background-color: #0f1391;
	/* Header background color */
	color: #ffffff;
	text-align: center;
}

.plan-image {
	max-width: 100%;
	display: block;

}


.card-header .plan-name {
	font-size: 1.5rem;
	margin: 0;
}

.card-header .plan-price {
	font-size: 1rem;
	font-weight: normal;
}

.card-header .plan-value {
	font-size: 2rem;
	font-weight: bold;
}

.card-body {
	padding: 0 20px 20px 20px;
	flex-grow: 1;
	width: 100%;
	background-color: #000;
}

.card-body .plan-description {
	margin-bottom: 5px;
	font-weight: bold;
	color: #fff;
	font-family: sora, Sans-serif;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
}

.card-body .plan-subdescription,
.card-body .plan-details {
	color: #ffffff;
}

.card-body .plan-benefits {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.card-body .plan-benefits li {
	color: #ccc;
	font-size: 0.9rem;
	display: flex;
	align-items: center;
	text-align: left;
}

.card-body .plan-benefits li i {
	margin-right: 8px;
	color: #0ee951;
	flex-shrink: 0;
}

.card-body .plan-benefits li span {
	display: inline-block;
	word-break: break-word;
}

.card-body .divider {
	border: 0;
	height: 3px;
	background: linear-gradient(to right, #03D6F3, #0026ff);
	margin: 10px 0;
	opacity: 1;
}

.card-body .divider-2 {
	border: 0;
	height: 3px;
	background: linear-gradient(to right, #03D6F3, #0026ff);
	margin: 10px 0;
	opacity: 1;
}

.icon-benefits {
	color: #0ee951;
}

.card-footer {
	text-align: center;
	border-bottom-left-radius: 18px;
	border-bottom-right-radius: 18px;
}

.card-footer .btn {
	font-family: sora, Sans-serif;
	fill: #000;
	color: #000;
	font-weight: 580;
	font-size: 16px !important;
	background-image: linear-gradient(to right, #fff, #fff) !important;
	background-color: transparent;
	border-radius: 4px;
	margin-top: -10px;
	max-width: 100%;
	line-height: 1;
	padding: 10px 20px;
}


.card-footer .btn-more {
	font-family: sora, Sans-serif;
	font-size: 12px;
	font-weight: 700;
	fill: #fff;
	color: #000000;
	background-color: transparent;
	background-image: linear-gradient(to right, #ffffff, #00ff22);
	border-radius: 4px;
	padding: 10px 10px;
	transition: transform 0.3s ease;
	border: none;
	cursor: pointer;
	margin-top: 20px;
	width: 150px;
	max-height: 34px;
	display: inline-block;
	text-align: center;
}

.card-footer .btn-more-gold:hover {
	transform: scale(1.1);
}


.plan-disclaimer {
	font-size: 10px;
	color: #ccc;
	margin-top: 5px;
}

/************************/
/*     Testimonials     */
/************************/
.slider-1 {
	padding-top: 8.25rem;
	padding-bottom: 8.5rem;
}

.slider-1 .section-title {
	text-align: center;
}

.slider-1 .h2-heading {
	text-align: center;
	margin-bottom: 3rem;
}

.testimonial-card {
	border: 10px solid;
	border-image-slice: 1;
	border-width: 3px;
	border-image-source: var(--gradient);
	background-color: #1e1e1e;

}

.slider-1 .slider-container {
	position: relative;
}

.slider-1 .swiper-container {
	width: 86%;
	position: static;
}

.slider-1 .swiper-button-prev,
.slider-1 .swiper-button-next {
	color: var(--primary);
}

.slider-1 .swiper-button-prev:focus,
.slider-1 .swiper-button-next:focus {
	/* even if you can't see it chrome you can see it on mobile device */
	outline: none;
}

.slider-1 .swiper-button-prev {
	left: -14px;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23707375'%2F%3E%3C%2Fsvg%3E");
	background-size: 18px 28px;
}

.slider-1 .swiper-button-next {
	right: -14px;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23707375'%2F%3E%3C%2Fsvg%3E");
	background-size: 18px 28px;
}

.slider-1 .card {
	border: none;
	position: relative;
	background-color: transparent;
}

.slider-1 .card-image {
	width: 80px;
	height: 80px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	margin-bottom: 1.25rem;
}

.slider-1 .card-body {
	padding: 0;
}

.slider-1 .testimonial-text {
	margin-bottom: 0.75rem;
}

.slider-1 .testimonial-author {
	margin-bottom: 0;
	color: #252c38;
}

.slider-1 .avatar {
	width: 70px;
	height: 70px;
	border-radius: 50%;
}

/* Dropdown Menu */
.navbar .dropdown .dropdown-menu {
	animation: fadeDropdown 0.2s;
	/* required for the fade animation */
}

/* BOTTOM */

.bottom a {
	color: white;
	/* Define a cor inicial do texto */
	text-decoration: none;
	/* Remove sublinhado padrão */
	transition: color 0.3s;
	/* Adiciona uma transição suave para a mudança de cor */
	display: inline-block;
	/* Garante que o padding afete apenas a largura do link */
}

.bottom a .fas {
	color: blue;
	/* Define a cor inicial da seta */
}

.bottom a:hover {
	color: blue;
	/* Muda a cor do texto para azul quando passa o mouse */
}

.bottom a:hover .fas {
	color: inherit;
	/* Herda a cor do texto quando o link é hover */
}

.bottom a .link-text {
	padding-right: 10px;
	/* Adiciona espaço entre o ícone e o texto */
}

.bottom {
	overflow-x: hidden;
	/* Oculta qualquer conteúdo que exceda a largura da seção */
}

@-webkit-keyframes fadeDropdown {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeDropdown {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}


/**********************/
/*     Newsletter     */
/**********************/
.form-control-input,
.form-control-textarea {
	width: 100%;
	appearance: none;
	border-radius: 4px;
	font-size: 0.875rem;
	line-height: 1.5rem;
	padding-left: 1.5rem;
	padding-top: 0.775rem;
	padding-bottom: 0.775rem;
}


/******************************/
/*     Back To Top Button     */
/******************************/
#myBtn {
	z-index: 99;
	right: 20px;
	width: 52px;
	height: 52px;
	bottom: 20px;
	border: none;
	outline: none;
	display: none;
	position: fixed;
	cursor: pointer;
	border-radius: 50%;
	background-color: #323137;
}

#myBtn:hover {
	background-color: #0f0f11;
}

#myBtn img {
	width: 18px;
	margin-left: 0.125rem;
	margin-bottom: 0.25rem;
}

.whatsapp-float {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 90px;
	right: 15px;
	background-color: #25d366;
	color: #FFF;
	border-radius: 8px;
	text-align: center;
	font-size: 30px;
	z-index: 100;
}

.whatsapp-icon {
	width: 100%;
	height: 100%;
	padding: 10px;
	border-radius: 50%;
}


/***********************/
/*     Extra Pages     */
/***********************/
.ex-header {
	background-color: #000
}

.ex-header-privacy {
	padding-top: 2.5rem;
	padding-bottom: 3rem;
	background-color: #000
}

.ex-header-privacy h1 {
	margin-top: 30px;
	color: #fff;
}

.home-about {
	background-image: url(../assets/images/home-article.png);
	height: 92vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.home-about h1 {
	color: #f1f7f3;

}

.home-about i {
	color: #f1f7f3;


}

.home-about p {
	color: #f1f7f3;
	font-size: 16px;

}

.home-about .list-unstyled .fas {
	font-size: 0.375rem;
	line-height: 1.625rem;
}

.home-about .list-unstyled .flex-grow-1 {
	margin-left: 0.5rem;
}

.home-about .text-box {
	padding: 1.25rem 1.25rem 0.5rem 1.25rem;
	background-color: #464747;
	border-radius: 10px;
}

.home-about .p-large {
	color: white;
	font-size: 20px;
}

.algo-trading {

	background-color: #000;
	height: 60vh;

}

.algo-trading h1 {
	color: #ffffff;
}

.algo-trading .para {
	font-weight: 400;
	color: #ffffff;
}

.algo-trading .text-bold {
	font-weight: bold;

}

.estatistica {
	background-image: url(../assets/images/estatistica-about.png);
	height: 60vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.estatistica h1 {
	color: #ffffff;

}

.estatistica p {
	color: #ffffff;

}

.sobre-nt {
	background-color: #000;
}


.sobre-nt h1 {
	color: #ffffff;

}

.sobre-nt p {
	color: #ffffff;

}

/* Navegação padrão */
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
	background-color: var(--primary);
	height: 60px;
	position: fixed;
	/* Adiciona posição fixa */
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	/* Certifique-se de que o z-index seja alto o suficiente */
	transition: all 0.2s;
}

/* Logo */
.navbar .logo-image img {
	max-height: 50px;
	width: auto;
}

.navbar .navbar-brand {
	display: flex;
	align-items: center;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

/* Menu colapsado */
.offcanvas-collapse {
	position: fixed;
	top: 2.75rem;
	bottom: 0;
	left: 100%;
	width: 100%;
	overflow-y: auto;
	visibility: hidden;
	padding-right: 1rem;
	padding-left: 1rem;
	background-color: var(--primary);
	transition: transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
	z-index: 999;
	/* Ajuste o z-index */
}

.offcanvas-collapse.open {
	visibility: visible;
	transform: translateX(-100%);
}

	/*Perfil Bronze */

.home-perfil-bronze {
	background-image: url(../assets/images/home-bronze.png);
	height: 80vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.home-perfil-bronze p {
	color: #FFF;
}
.home-perfil-bronze img {
	border-radius: 10px;
}
.perfil-bronze-text{
	background: var(--gradient-bronze-branco);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.beneficios-perfil-bronze{
	background-color: #000;
	height: 80vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.beneficios-perfil-bronze p {
	color: #FFF;
}
.beneficios-perfil-bronze h1 {
	color: #FFF;
}
.beneficios-perfil-bronze img {
	border-radius: 15px;
	width: 300%;
	height: auto; /* Mantém a proporção da imagem */
	margin-left: 20%;

}
.passo-perfil-bronze{
	color: #FFF;
	background-image: url(../assets/images/fundo-beneficios-bronze.png);
	height: 110vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.passo-perfil-bronze h4 {
	color: #fff;
	position: relative;
    right: -320px; 
	
}


.image-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;

}

.image-container img {
	margin-bottom: 0px;
	max-width: 100%;
	border-radius: 15px;
	width: 80%; /* Ajuste a largura conforme necessário */
	height: auto; /* Mantém a proporção da imagem */
}
.custom-margin {
	position: relative;
	right: 170px; /* Ajuste conforme necessário para mover para o lado direito */
}
.card-footer-bronze {
	display: flex;
	justify-content: center; /* Alinha o botão à direita */
	background-color: #000;
	color: #ffffff;
	text-align: center;
	width: 100%;
	/* Ensure the header and footer take the full width of the card */
	height: 90%;
}
.card-header-bronze {
background-color: #634641;
	color: #ffffff;
	text-align: center;
	width: 100%;
	/* Ensure the header and footer take the full width of the card */
	height: 90%;


}
.card-body-bronze h6{
	color: #fff ;
}

.card-body-bronze .divider {
border: 0;
height: 3px;
background: linear-gradient(to right, #634641, #fff, #634641);
margin: 10px 0;
/* Ajustar o espaçamento conforme necessário */
opacity: 1;
/* Garante que a opacidade esteja no máximo */
}
.card-body-bronze .divider-2 {
border: 0;
height: 3px;
background: linear-gradient(to right, #634641, #fff, #634641);
margin: 10px 0;
/* Ajustar o espaçamento conforme necessário */
opacity: 1;
/* Garante que a opacidade esteja no máximo */
}

/* Media Queries */
@media (min-width: 992px) {
	.navbar {
		box-shadow: none;
		transition: all 0.2s;
		padding-top: 1.75rem;
		background-color: transparent;

	}

	.navbar .logo-image img {
		max-height: 200px;
		max-width: 200px;
		display: block;
	}

	.navbar.top-nav-collapse {
		display: none;
	}

	.offcanvas-collapse {
		position: static;
		top: auto;
		bottom: auto;
		left: auto;
		width: auto;
		padding-right: 0;
		padding-left: 0;
		background-color: transparent;
		overflow-y: visible;
		visibility: visible;
		z-index: auto;
	}

	.offcanvas-collapse.open {
		transform: none;
	}

	.about .container {
		position: relative;
	}

	.about {
		text-align: center;
	}

	.about .col-lg-7 {
		text-align: center;
	}

	.about img {
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width: 768px) {
	.home {
		background-image: url(../assets/images/home-mobile.png);
		background-size: cover;
		background-repeat: no-repeat;
		padding-top: 500px !important;
	}

	.mobile-hide {
		display: none;
	}

	.accordion {
		max-width: 100%;
	}

	.card {
		flex-direction: column;
		align-items: flex-start;
	}

	.btn-accordion {
		width: 100%;
		text-align: left;
	}

	.btn-accordion .icon {
		position: relative;
		right: 0;
		margin-left: auto;
	}

	.card-header-carrocel {
		text-align: left;
		width: 100%;
	}

	.about {
		text-align: center;
		background-position: top center;
		/* Ajuste conforme necessário */
	}

	.about .col-lg-7 {
		text-align: center;
		padding-top: 100px !important;
	}

	.about {
		background-image: url(../assets/images/about-logo-mobile.png);
		background-size: cover;
		background-repeat: no-repeat;

	}

	.location .row {
		flex-direction: column;
		/* Empilhar itens verticalmente */
	}

	.location .col-lg-3 {
		margin-bottom: 10px;
		/* Espaçamento entre os itens */
	}

	.location .far,
	.location .fas {
		font-size: 2rem;
		/* Reduzir tamanho dos ícones */
	}

	.location h6 {
		font-size: 1rem;
		/* Reduzir tamanho da fonte dos títulos */
	}

	.location p {
		font-size: 0.875rem;
		/* Reduzir tamanho da fonte dos parágrafos */
	}

	.location .p-2 {
		padding: 100px;
		/* Ajustar padding */
	}

	.location .ms-2 {
		margin-left: 0;
		/* Remover margem esquerda */
	}
}


@media only screen and (max-width: 540px) {
	h1 {
		font-size: 30px;
	}

	.para {
		width: 100%;
	}

	.swiper-container {
		width: 92%;
	}

	.swiper-button-prev {
		left: -16px;
		width: 22px;
		background-size: 22px 34px;
	}

	.swiper-button-next {
		right: -16px;
		width: 22px;
		background-size: 22px 34px;
	}

	.btn-accordion {
		font-size: 14px;
	}

	.card-header {
		padding-bottom: 10px;
	}

	.card-body {
		padding: 8px;
	}

	@media (max-width: 1728px) {
		.card-header .plan-name {
			font-size: 1.25rem;
		}

		.card-header .plan-value {
			font-size: 1.5rem;
		}

		.card-body {
			padding: 0 15px 15px 15px;
		}

		.card-body .plan-description {
			font-size: 12px;
		}

		.card-body .plan-benefits li {
			font-size: 0.8rem;
		}

		.card-footer .btn {
			font-size: 0.8rem;
			padding: 8px 12px;
		}

		.plan-disclaimer {
			font-size: 9px;
		}

		.about h2 {
			font-size: 1.75rem;
		}

		.about p {
			font-size: 1rem;
		}

		.about .btn {
			font-size: 0.875rem;
			padding: 8px 16px;
		}

		.about img {
			margin-top: 10px;
		}

		.about .my-3 {
			margin: 1rem 0;
		}

		.about .container {
			padding: 0 15px;
		}

		.about .row {
			margin: 0;
		}

		.about .col-lg-7 {
			padding: 0;
		}
	}

}